/*--------------- Polices --------------- */
@font-face {
    font-family: 'Sanchez';
    src: url(../POLICES/Sanchez-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat';
    src: url(../POLICES/Montserrat-Regular.woff) format('woff');
}

@font-face {
    font-family: 'FamiljenGrotesk';
    src: url(../POLICES/FamiljenGrotesk-Regular.woff) format('woff');
}

/*--------------- Variables --------------- */
:root {
    --main_color: #02B489;
    --second_color : rgba(36, 70, 108, 0.35);
    --writing_color : white;
    --radius : 8px;
    --sanchez : 'Sanchez', sans-serif;
    --montserrat : 'Montserrat', sans-serif;
    --familjen : 'FamiljenGrotesk', sans-serif;
}

/*--------------- Corps de la page --------------- */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--writing_color);
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--main_color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    font-family: var(--familjen);
}

p {
    font-family: var(--montserrat);
}

section {
    display: grid;
    place-items: center;
    align-content: center;
}

.hidden_left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%); 
    transition : all 1s;
}

.hidden_right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%); 
    transition : all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.experiences:nth-child(2), .diplomes:nth-child(2) {
    transition-delay: 200ms;
}

.experiences:nth-child(3), .diplomes:nth-child(3) {
    transition-delay: 400ms;
}

.experiences:nth-child(4) {
    transition-delay: 600ms;
}



/*--------------- Barre de navigation --------------- */
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--second_color);
    height: 12vh;
    width: 100%;
}

.navbar a, .navbar h1    {
    font-family: var(--sanchez);
    font-size: 1.1em;
}

.button-form::after {
    content: '';
    width: 0;
    height: 0.25vh;
    background: var(--writing_color);
    display: block;
    transition: 0.35s;
}

.button-form:hover::after{
    width: 100%;
}

/*--------------- Titres des Sections --------------- */
.titre {
    border: 2px solid var(--writing_color);
    border-right : none;
    border-left : none;
    padding: 15px;
    margin: 25px 25px 10px 25px;
    width: 39vw;
}

.titre h1 {
    text-align: center;
    font-weight: 900;
    font-family: var(--sanchez);
    font-size: 2em;
}


/*--------------- Logo --------------- */
.logo {
    height: 10vh;
    margin: 0.3vh 1vh 0 0;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 10vw;
}

/*--------------- Présentation --------------- */
.presentation_conteneur {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    background-color: var(--second_color);
    border: solid 2px var(--writing_color);
    border-radius: var(--radius);
    padding: 15px;
}

.presentation_conteneur .texte {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 41vw;
    padding: 15px;
    margin: 0 20px;
}

.presentation_conteneur h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.presentation_conteneur h2 {
    margin-bottom: 10px;
}

.presentation_conteneur p {
    font-size: 1em;
    word-spacing: 0.05em;
    letter-spacing: 0.05em;
    line-height: 4vh;
}

.presentation_conteneur img {
    width: 20vw;
    border-radius: var(--radius);
}

/*--------------- Diplômes --------------- */
.diplomes {
    background: var(--second_color);
    border: 2px solid var(--writing_color);
    border-radius: var(--radius);
    padding: 15px;
    margin: 20px;
    width: 65vw;
}

.diplomes p, .diplomes h3 {
    display: flex;
    align-items: center;
    color: var(--writing_color);
}

.diplomes h3 {
    font-size: 1.2em;
    padding-bottom: 10px;
    letter-spacing: 0.05em;
    font-weight: 700;
}

.diplomes p {
    word-spacing: 0.05em;
    font-size: 1em;
    font-weight: 500;
}

/*--------------- Expériences --------------- */
.experiences {
    background: var(--second_color);
    border: 2px solid var(--writing_color);
    border-radius: var(--radius);
    padding: 15px;
    margin: 20px;
    width: 65vw;
}

.experiences p, .experiences h3 {
    display: flex;
    align-items: center;
    color: var(--writing_color);
}

.experiences h3 {
    font-size: 1.2em;
    padding-bottom: 10px;
    letter-spacing: 0.05em;
    font-weight: 700;
}

.experiences p {
    word-spacing: 0.05em;
    font-size: 1em;
    font-weight: 500;
}

/*--------------- Compétences --------------- */
.categories button {
    background-color: var(--main_color);
    border: solid 1.5px var(--writing_color);
    border-radius: var(--radius);
    padding: 7px;
    margin: 0 5px;
    font-family: var(--montserrat);
    font-size: 1.2em;
    font-weight: 600;
}

.categories {
    background-color: var(--second_color);
    margin: 10px;
    padding: 15px;
    border-radius: var(--radius);
    border: solid 2px var(--writing_color);
    width: 65vw;
}

.comp {
    margin-left: -5px;
    margin-top: 10px;
}

.categories h1 {
    letter-spacing: 0.05em;
}

/*--------------- Accordéon des Projets --------------- */
li {
    list-style: none;
}

.projet_conteneur {
    display: flex;
    align-items: center;
    background-color: var(--second_color);
    width: 70vw;
    padding: 0 20px 20px 20px;
    margin: 20px;
    border: solid 2px var(--writing_color);
    border-radius: var(--radius);
}

.soufflet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    position: relative;
    width: 65vw;
}

.soufflet input {
    opacity: 0;
}

.soufflet h1 {
    padding: 0.7em 0.7em 1em 0;
    font-size: 1.2em;
    letter-spacing: 0.05em;   
}

.soufflet label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

label::before {
    content: "";
    border: 0.4vw solid transparent;
    border-left: 0.4vw solid var(--writing_color);
    margin-right: 0.5vw;
}

.projet {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s;
}

.projet p, .projet h3 {
    display: flex;
    align-items: center;
    margin-top: 0.1vh;
    margin-bottom: 2vh;
    margin-left: 2.5vw;
    word-spacing: 0.05em;      
}

.projet h3 {
    font-weight: 200;
}

input:checked ~ h1 label::before {
    border-left: 0.4vw solid transparent;
    border-top: 0.4vw solid var(--writing_color);
    margin-right: 0.5vw;
}

input:checked ~ h1 ~ .projet {
    max-height: 150vh;
}

.bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17vw;
    border-radius: var(--radius);
    background-color: var(--second_color);
    cursor: pointer;
    font-size: 1em;
    border: solid 1.5px var(--writing_color);
    font-family: var(--montserrat);
    margin-left: 30px;
    padding: 5px;
}

.bouton:hover {
    transition: ease-in-out 0.3s;
    background-color: var(--main_color);
}

.bouton img {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.button span {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*--------------- Footer --------------- */
.contacts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--second_color);
    height: 12vh;
    width: 100%;
    margin-top: 20px;
}

.contacts a {
    font-family: var(--sanchez);
    font-size: 1.1em;
}


/* --------------- Media Queries --------------- */

/* 1010 rupture pour les boutons de compétences */
/* 1000 rupture sur les boutons de téléchargement de projets */
/* 1000 conteneur presentation + photo devient bizarre */

/* 650 les titres des sections dans le header sont trop rapprochées */
/* Faire rétrécir le logo */

@media screen and (max-width: 1200px) {
    .categories button {
        padding: 5px;
        font-size: 1em;
    }

    .presentation_conteneur h1 {
        font-size: 1.5em;
    }
    
    .presentation_conteneur h2 {
        font-size: 1.3em;
    }
    
    .presentation_conteneur p {
        font-size: 0.8em;
        word-spacing: 0em;
        letter-spacing: 0em;
        line-height: 3.5vh;
    }

    .bouton {
        width: 20vw;
    }
}

@media screen and (max-width: 1010px) {

}

/* Rupture a 1000 pour les téléchargements de projet  

.bouton {
    width: 20vw;
    font-size: 1em;
    padding: 5px;
}

.bouton img {
    height: 15px;
    width: 15px;
}*/

/*@media screen and (max-width: 640px) {
    .navbar a, .contacts a {
        font-size: 0.8em;
    }

    .presentation_conteneur {
        display: flex;
        align-items: flex-start;
        width: 65vw;
    }

    .presentation_conteneur .texte {
        align-self: center;
    }

    .presentation_conteneur h1 {
        font-size: 1.2rem;
    }

    .presentation_conteneur h2 {
        font-size: 1rem;
    }

    .presentation_conteneur p {
        font-size: 0.8rem;
    }

    .categories button {
        margin: 5px;
    }

    .projet .bouton {
        width: 35vw;
    }
}*/