/* ------------- POLICES ------------- */
@font-face {
    font-family: 'Orbitron';
    src: url(./Polices/orbitron-medium-webfont.woff) format('woff'),
    url(./Polices/orbitron-medium-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Russo One';
    src: url(./Polices/russoone-regular-webfont.woff) format('woff'),
    url(./Polices/russoone-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url(./Polices/kanit-regular-webfont.woff) format('woff'),
    url(./Polices/kanit-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(./Polices/poppins-regular-webfont.woff) format('woff'),
    url(./Polices/poppins-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
/*---------------------- PAGE -------------------------------------*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100%;
    width: 100%;
    background-image: url(./Images/Stars.jpg);
    background-size: auto;
    zoom: 98.7%;
}

a {
    text-decoration: none;
}


/*--------------- LOGO --------------- */
.logo {
    display: flex;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    height: 55px;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: -10px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 80px;
    margin-top: -10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.text_logo::after {
    content: '';
    width: 0;
    height: 2px;
    background: white;
    display: block;
    transition: 0.4s;
}

.text_logo:hover::after,
.logo:hover+.text_logo::after {
    width: 100%;
}

.text_logo.hover::after {
    width: 100%;
}

/*--------------- BARRE DE MENU --------------- */
.navbar {
    position: absolute;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: rgba(36, 70, 108, 0.40);
    box-shadow: 0 0 25px 8px rgba(255, 255, 255, 0.4);
    height: 75px;
}

.nav-links {
    margin-top: 10px;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 19px;
}

.navbar .nav-links ul a {
    color: white;
}

/*----------------------- BOUTONS ---------------------------------*/
.box {
    width: 128px;
    height: auto;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 13px;
    text-align: center;
    background: transparent;
    text-transform: uppercase;
    font-weight: 600;
}

.box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
    background-size: cover;
    z-index: -1;
}

.box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}

.box:hover:before {
    border-color: rgba(255, 255, 255);
    height: 100%;
    transform: translateX(0);
    transition: .12s transform linear, .12s height linear .12s;
}

.box:hover:after {
    border-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    transform: translateX(0);
    transition: .12s transform linear, .12s height linear .12s;
}

a {
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    font-size: 14px;
}

a span {
    font-family: 'Orbitron', sans-serif;
}

.box:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

/*------------ INTRO ------------*/
.carre {
    display: flex;
    position: absolute;
    top: 115px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 425px;
    background: rgba(36, 70, 108, 0.4);
    border-radius: 16px;
    box-shadow: 0 0 25px 8px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(1px);
}

.Photo {
    margin-top: 25px;
    margin-left: 40px;
    width: 375px;
    height: 375px;
    background-image: url(./Images/Stars.jpg);
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0 0 25px 8px rgba(255, 255, 255, 0.4);
}

#nsi:hover span {
    top: -115px;
    margin-right: -200px;
}

.infos {
    text-decoration: none;
    color: #31afd4;
}


.intro {
    display: inline-flex;
    flex-direction: column;
}

.phrase1 {
    color: #FF007F;
    font-family: 'Russo One', sans-serif;
    font-size: 35px;
    margin-top: 40px;
    margin-left: 50px;
}

.phrase2 {
    color: white;
    font-family: 'Russo One', sans-serif;
    font-size: 28px;
    margin-left: 87px;
}

.phrase3 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-left: 76px;
    margin-top: 10px;
    padding-right: 50px;
    letter-spacing: 2px;
}

.phrase4 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-left: 76px;
    margin-top: 10px;
    padding-right: 50px;
    letter-spacing: 2px;
}

body {
    font-family: 'Kanit', sans-serif;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 2px solid white;
    width: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-color: rgba(36, 70, 108);
    box-shadow: 0 0 2px 400px rgba(0, 0, 0, 0.3);
}


@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    position: absolute;
    top: -10px;
    right: 8px;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    cursor: pointer;
}

.modal-body {
    padding: 20px 20px;
    color: white;
}



